<ion-header>
  <ion-toolbar text-center>
    <ion-title class="center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true' text-center>
  <div class="center">
    <img src="assets/imgs/logo.jfif" alt="Mymadical project logo" width="128dp" />
    <h1>Sign In</h1>
  </div>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list>
      <ion-label position="stacked">Username</ion-label>
      <ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched', 'dirty']) }">
        <ion-input autocomplete="off" type="text" formControlName="email"></ion-input>
      </ion-item>

      <!-- Tampilkan error -->
      <div ngxErrors="email" #emailErrors="ngxErrors">
        <div [ngxError]="['email', 'required']" [when]="['touched', 'dirty']"> Email tidak valid </div>
      </div>

      <ion-label position="stacked">Password</ion-label>
      <ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
        <ion-input autocomplete="off" type="password" formControlName="password"></ion-input>
      </ion-item>

      <!-- Tampilkan error -->
      <div ngxErrors="email" #passwordErrors="ngxErrors">
        <div [ngxError]="['minlength', 'required']" [when]="['touched']"> Password minimal 5 karakter </div>
      </div>

      <div class="form-error">{{ loginError }}</div>

      <ion-item lines='none'>
        <a (click)="goToSignup()">Create Account</a>
      </ion-item>
    </ion-list>
    <button ion-button expand="block" share="round" color="success" type="submit"
      [disabled]="!loginForm.valid">Login</button>
  </form>
</ion-content>