<!--
  Generated template for the DetailArtikelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="https://asset.kompas.com/crops/zh2ofCKmyW5VXLK0aVgWeZHhYQY=/0x0:1000x667/750x500/data/photo/2018/08/28/3260479850.jpg" />
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-5><ion-card>Kurang Tidur</ion-card></ion-col>
    </ion-row>
  </ion-grid>

    <ion-card-content  align="justify">
      <ion-card-title>
        7 Kebiasaan Diet yang Salah dan Tanda Diet Tidak Tepat
      </ion-card-title>

      <p>
        Banyak orang melakukan diet dengan harapan bisa mendapatkan bentuk tubuh yang lebih ideal. Sayangnya, kurangnya
        pengetahuan tentang cara diet yang benar membuat banyak orang melakukan diet yang salah.
      </p>
      <p>
        Diet yang salah justru tidak akan membawa hasil dan manfaat. Malah sebaliknya, bisa berakibat buruk bagi tubuh
        dan kesehatan. Berikut ini ada berbagai kebiasaan diet yang salah yang sebaiknya kita hindari. <br><br>
      </p>
      <p>
      <b>1.Tidak sarapan pagi <br></b>
      </p>
      <p>
        Melewatkan waktu sarapan bukanlah cara diet yang dianjurkan. Pasalnya, hal ini membuat kita justru makan lebih
        banyak dengan porsi yang besar di siang harinya. <br><br>
        Selain itu, melewatkan sarapan juga dapat menurunkan mood dan meningkatkan risiko obesitas. Keseimbangan gula
        dan insulin dalam tubuh juga akan terganggu sehingga tubuh selalu merasa lapar. <br><br>
      </p>

      <p>
     <b> 2. Tidak menghiraukan kalori dari minuman <br></b>
      </p>
      <p>
        Tahukah kamu bahwa minuman cepat saji mengandung kalori yang cukup tinggi. Bahkan, minuman yang berlabel “jus
        buah” pun bisa mengandung kalori dan gula yang sangat tinggi sehingga dapat menambah asupan kalori harian.
        <br><br> Padahal saat melakukan diet, membatasi asupan kalori menjadi hal wajib yang perlu kita lakukan. <br><br>
      </p>

      <p>
      <b> 3. Makan terlalu banyak protein dan lemak <br></b>
      </p>
      <p>
        Membatasi asupan karbohidrat dan meningkatkan protein serta lemak secara berlebih dapat membahayakan tubuh.
        <br><br> Kondisi ini dapat merusak ginjal dan meningkatkan kadar kolesterol yang berakibat pada penyakit jantung
        serta stroke. <br><br>
      </p>
      <p>
     <b>  4. Makan tanpa garam <br></b>
      </p>
      <p>
        Diet tanpa garam menjadi diet yang sedang populer. Namun, makan tanpa menambahkan garam sedikit pun justru dapat
        membahayakan tubuh. <br><br> Pasalnya, tubuh tetap membutuhkan asupan garam terutama untuk produksi hormon
        tiroid, memelihara keseimbangan cairan tubuh, menjaga aktivitas sel saraf, kontraksi serta relaksasi otot, dan
        meningkatkan fungsi otak.
        <br><br> Namun, asupan garam harian tidak boleh sampai berlebihan. Kelebihan garam juga bisa meningkatkan risiko
        hipertensi, stroke, jantung, dan juga masalah ginjal. <br><br>
      </p>
      <p>
      <b> 5. Kekurangan serat <br></b>
      </p>
      <p>
        Diet dengan membatasi asupan kalori harian tanpa sadar juga menurunkan asupan serat harian. <br><br> Padahal, serat
        sangat dibutuhkan untuk membantu menurunkan berat badan dengan cara menahan rasa kenyang lebih lama. Selain itu,
        serat juga berfungsi membantu melancarkan pencernaan. <br><br>
      </p>
      <p>
      <b> 6. Memuntahkan kembali makanan yang telah dimakan <br></b>
      </p>
      <p>
        Kebiasaan memuntahkan kembali makanan yang telah dimakan secara paksa merupakan gangguan psikologis yang bisa
        membahayakan.
        <br><br> Nantinya, efek samping yang dialami cukup serius seperti kulit dan rambut yang kusam, kerusakan
        kelenjar air liur, osteoporosis, gangguan menstruasi, gangguan irama jantung, sembelit, hingga gangguan emosi. <br><br>
      </p>
      <p>
     <b>   7. Minum obat pelangsing tanpa pengawasan dokter <br></b>
      </p>
      <p>
        Banyak orang menggunakan berbagai cara untuk menurunkan berat badan; termasuk mengonsumsi obat pelangsing tanpa
        pengawasan atau resep dari dokter.
        <br><br> Kebiasaan ini sangat membahayakan karena kandungan di dalam obat yang belum pasti aman justru dapat
        merusak organ tubuh hingga menimbulkan kematian. <br><br>
      </p>


    </ion-card-content>


</ion-content>
