<!--
  Generated template for the RsumumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<meta http-equiv="x-ua-compatible" content="IE=edge">

<ion-header>
  <ion-navbar color="danger">
    <ion-title>Direction</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>Destination</ion-label>
      <ion-input type="text" [(ngModel)]="Destination">KM, 8, Jl. WR. Supratman No.100, Air Raja, Kec. Tanjungpinang
        Tim., Kota Tanjung Pinang, Kepulauan Riau</ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="calculateAndDisplayRoute()">Get Direction</button>

  <div id="map"></div>





</ion-content>