<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="ios-person"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="ios-add-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ios-albums"></ion-tab>
</ion-tabs>
