<!--
  Generated template for the UmurpanjangPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <img src="https://hellosehat.com/wp-content/uploads/2019/01/shutterstock_1266864709.jpg?x92501" />
      <ion-card-content >
        <ion-card-title>
          <b>7 Langkah Sederhana Memulai Pola Hidup Sehat agar Panjang Umur</b>
        </ion-card-title>
        <p align="justify">
          Banyak orang yang tidak begitu paham bagaimana caranya untuk menjaga dirinya tetap sehat, baik secara fisik dan
          mental. <br>
          Padahal hidup sehat dan bahagia adalah kunci panjang umur. Artinya, semakin bahagia seseorang, maka besar pula
          kemungkinannya orang tersebut hidup lebih lama. <br>
          Nah, salah satu cara sederhana yang bisa kita lakukan untuk hidup lebih bahagia dan panjang umur adalah dengan
          menerapkan pola hidup sehat. <br>
          Berikut beberapa kiat-kiat sederhana yang bisa kita lakukan untuk memulai pola hidup sehat:
        </p><br><br>
        <p>
          1. Hindari Stress
        </p><br><br>
        <p>
          Macet di jalan, deadline tugas atau kerjaan yang mencekik, keuangan yang tersendat, hubungan asmara yang sedang
          renggang, dan berbagai perahara hidup lainnya tentu akan membuat kita stres. <br>
          Saat merasa stres, semua sistem dalam tubuh akan meresponnya dengan cara yang berbeda-beda. Stres yang bersifat
          kronis dapat berdampak pada kesehatan secara keseluruhan. <br>
          Nah, oleh sebab itu, berusahalah sebisa mungkin untuk mengurangi atau bahkan menghindari segala hal yang bisa
          membuat stres. <br> Berhenti sebentar dari aktivitas yang sedang kita kerjakan adalah hal lumrah. Ketika sedang
          merasa tertekan, cobalah untuk menepi sebentar di tempat yang sepi. Tenangkan diri sambil mengambil napas
          dalam-dalam dan embuskan secara perlahan. <br>
          Lakukan hal tersebut berulang kali sampai merasa lebih rileks. Mengambil napas dalam-dalam sendiri telah
          terbukti menurunkan kadar kortisol, yang dapat membantu mengurangi stres dan kecemasan. <br>
          Kita juga bisa melakukan berbagai aktivitas lainnya yang kita senangi. Misalnya, membaca, menulis jurnal, atau
          pun bermain dengan hewan peliharaan. Intinya, buatlah diri merasa nyaman dengan cara yang kita senangi.
        </p><br><br>
        <p>
          2. Bijak dalam memilih makanan
        </p><br><br>
        <p>
          Apa yang kita makan tentu akan memengaruhi bagaimana tubuh bekerja. Oleh sebabnya, penting untuk memerhatikan
          setiap makanan yang kita konsumsi setiap hari. <br>
          Pastikan kalau makanan dalam piring memenuhi prinsip gizi seimbang, yang mencangkup karbohidrat, serat, protein,
          dan lemak baik. Jangan hanya bergantung dengan satu jenis makanan pokok saja. Kita bisa mengganti makanan pokok
          dengan jagung, mi, ubi, atau kentang. Jadi, tak harus nasi terus. <br>
          Perhatikan pula porsi makan. Memerhatikan porsi makan sangatlah penting untuk mencegah kegemukan dan terserang
          berbagai penyakit kronis. Ingat, apapun yang berlebihan tentu tidak baik untuk tubuh. <br>
          Selain memilah makanan yang akan dikonsumsi, kita juga harus bijak dalam mengolahnya. Hindari mengolah makanan
          dengan cara digoreng. Kita bisa mengolah makanan dengan cara yang lebih sehat, seperti direbus, dikukus, atau
          ditumis.
  
        </p><br><br>
        <p>
          3. Sempatkan olahraga setiap hari
        </p><br><br>
        <p>
          Olahraga tak melulu harus jogging atau pergi ke gym. Kita bebas melakukan berbagai jenis olahraga yang disukai.
          Jika suka bersepeda atau berenang, maka jangan ragu untuk melakukannya. Begitu pula jika hanya menyukai jalan
          santai. Kuncinya, buatlah tubuh aktif bergerak setiap hari. <br>
          Dengan aktif bergerak, tubuh akan berusaha untuk membakar kalori yang mengendap. Lebih dari itu, hal ini juga
          dapat membantu mengalirkan lebih banyak oksigen ke dalam sel-sel tubuh dan menjaganya tetap sehat. Tak heran
          jika setelah olahraga atau melakukan aktivitas fisik kita jadi merasa lebih bugar. <br>
          Nah, bagi pekerja kantoran yang mungkin tidak memiliki banyak waktu untuk berolahraga, kamu bisa melakukan
          berbagai aktivitas fisik sederhana guna memastikan tubuh tetap bergerak. <br>
          Saat menuju ruangan kantor, cobalah untuk memilih naik tangga ketimbang naik lift atau eskalator. Kamu juga bisa
          meluangkan waktu untuk berjalan-jalan atau sekadar naik turun tangga sebelum dan sesudah makan siang. <br>
          Terkadang dengan perubahan kecil dalam rutinitas sehari-hari bisa membantu kita menjadi lebih aktif berolahraga.
        </p><br><br>
        <p>
          4. Kurangi gula mulai hari ini
        </p><br><br>
        <p>
          Kamu penyuka dessert alias makanan manis? Cupcake, es krim, permen, brownies, memang sangat menggonda lidah.
          Namun, mulai hari ini berniatlah untuk mengurangi atau bahkan menghindari berbagai makanan tersebut. <br>
          Hal ini bukan tanpa alasan. Pasalnya, asupan gula yang terlalu banyak dapat memicu penyakit diabetes. Nah, jika
          sudah terkena diabetes, orang akan lebih rentan terkena berbagai penyakit kronis di kemudian hari. Beberapa di
          antaranya seperti penyakit jantung dan stroke. <br>
          Mulailah secara perlahan-lahan. Jika biasanya minum kopi dengan dua sendok gula, kini cobalah hanya satu sendok
          saja. Setelah terbiasa, kamu bisa menghilangkan asupan gula sama sekali dalam cangkir kopi yang kamu minum. <br>
          Alih-alih minum minuman kemasan, lebih baik makan potongan buah segar. Selain lebih sehat, gula yang terkandung
          di dalam buah tentu tidak akan sebanyak yang ada dalam minuman kemasan. <br>
          Tak hanya gula, kita juga harus perlahan-lahan mengurangi kebiasaan merokok dan minum alkohol.
        </p><br><br>
        <p>
          5. Banyak minum air putih
        </p><br><br>
        <p>
          Sekitar 60 persen dari komposisi tubuh kita adalah air. Sayangnya, setiap hari cairan dalam tubuh akan terus
          berkurang lewat keringat, urin, dan bahkan setiap kali kita bernapas. Inilah mengapa, penting untuk memastikan
          bahwa kebutuhan cairan terpenuhi setiap hari. <br>
          Memastikan asupan cairan tepenuhi tidak hanya mencegah dehidrasi saja, tapi juga jadi cara ampuh agar tidak
          mengonsumsi minuman manis. <br>
          Bawalah botol minum sendiri ke mana pun pergi. Selain itu, sediakan juga air minum di meja kerja atau di kamar
          tidur.
        </p><br><br>
        <p>
          6. Cukup tidur
        </p><br><br>
        <p>
          Rajin olahraga dan makan makanan yang bernutrisi tinggi akan berakhir sia-sia kalau kita sendiri tidak cukup
          tidur. <br>
          Menurut Cheri Mah, seorang pakar masalah gangguan tidur di Stanford University dan University of California,
          tidur adalah kebutuhan paling mendasar untuk menuju pola hidup sehat. <br>
          Tidur menjadi sebuah fondasi di mana pikiran dan tubuh yang sehat terbentuk. Jika fondasi ini goyah, tentunya
          akan berdampak pada kesehatan. Mulai dari fungsi kekebalan tubuh, energi, selera makan, suasana hati hingga
          berat badan. <br>
          Menurut National Sleep Foundation, durasi tidur yang ideal bagi orang dewasa sekitar 7-9 jam per malam. Jadi,
          pastikan setiap malam kamu tidur setidaknya 7-9 jam.
  
        </p>
  
      </ion-card-content>
  
    </ion-card>
  </ion-content>
