<!--
  Generated template for the OtherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="black">
    <ion-title>Other</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   
  <ion-card (click)='gotoMedicine()'>
    <ion-list>
        <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="https://img.icons8.com/doodle/48/000000/pills.png">
              </ion-avatar>
              <h2>Medicine</h2>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="primary">
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
</ion-card>
<ion-card (click)='gotoHospital()'>
  <ion-list>
      <ion-item-sliding>
          <ion-item>
            <ion-avatar item-start>
              <img src="https://img.icons8.com/wired/64/000000/hospital.png">
            </ion-avatar>
            <h2>Hospitals</h2>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-card>
<ion-card (click)='gotoMedical()'>
  <ion-list>
      <ion-item-sliding>
          <ion-item>
            <ion-avatar item-start>
              <img src="https://img.icons8.com/dotty/80/000000/doctor-male.png">
            </ion-avatar>
            <h2>Talk With Doctor</h2>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-card>
<ion-card (click)='gotoSchedule()'>
  <ion-list>
      <ion-item-sliding>
          <ion-item>
            <ion-avatar item-start>
              <img src="https://img.icons8.com/bubbles/80/000000/timer.png">
            </ion-avatar>
            <h2>Schedule List</h2>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-card>
<ion-card (click)='gotoHelp()'>
  <ion-list>
      <ion-item-sliding>
          <ion-item>
            <ion-avatar item-start>
              <img src="https://img.icons8.com/flat_round/50/000000/question-mark.png">
            </ion-avatar>
            <h2>Help</h2>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-card>
   
</ion-content>
