<!--
  Generated template for the KurangtidurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfSMnu4SNj-0WGNLtWM_VLl3P7h63sApcsyDyRrwLIJAO7Bw9-" />
      <ion-card-content >
        <ion-card-title>
          <b>Kurang tidur bisa mengakibatkan gangguan pada otak</b>
        </ion-card-title>
        <p align="justify">
          Tidur memiliki peran penting bagi tubuh. Pada saat tidur, tubuh akan memperbaiki diri, baik kondisi fisik maupun
          mental, sehingga kita merasa segar dan berenergi saat bangun, serta siap menjalani aktivitas sepanjang hari.
          Selain itu, tidur juga ikut membantu proses tumbuh kembang, terutama pada anak dan remaja, karena pada saat
          tidurlah hormon pertumbuhan dikeluarkan. <br><br>
  
          Kebutuhan tidur tiap orang tidak sama. Namun secara umum, dibutuhkan tidur berkualitas selama 7 – 9 jam setiap
          hari, agar fungsi penting di atas dapat berjalan optimal. Bagi anak-anak dan remaja, kebutuhan tidur berkisar
          antara 8 – 10 jam setiap hari. <br><br>
  
          Kebutuhan tidur yang tidak tercukupi, bisa menyebabkan Anda terlihat lelah saat bangun, menguap sepanjang hari,
          dan sulit untuk konsentrasi. Beberapa hal berikut ini juga dapat terjadi jika Anda sering kurang tidur:
        </p><br><br>
        <p>
             1. Menderita penyakit serius <br><br>
  
          Sebanyak 9 dari 10 orang yang menderita insomnia ternyata juga menderita berbagai penyakit serius. Insomnia
          sendiri adalah kondisi seseorang yang susah tidur atau sulit tidur nyenyak. <br>
          Salah satu penyakit serius yang dapat diderita oleh penderita insomnia adalah penyakit jantung, baik berupa
          gangguan irama jantung (aritmia), gagal jantung, maupun serangan jantung. Ketahuilah bahwa tidur berperan
          penting dalam kemampuan tubuh untuk memperbaiki kerusakan pada pembuluh darah dan jantung. Itulah sebabnya,
          orang yang kurang tidur lebih rentan menderita penyakit jantung. <br>
          Penderita insomnia berisiko lebih tinggi menderita diabetes, obesitas, stroke, tekanan darah tinggi, kanker,
          serta masalah kesehatan mental seperti gangguan mood dan kecemasan.
        </p><br><br>
        <p>
          2. Mudah sakit dan susah sembuh <br><br>
          Sistem kekebalan tubuh menghasilkan protein-protein yang dinamakan sitokin. Sitokin dibutuhkan untuk membantu
          tubuh melawan infeksi, peradangan, dan stres. Saat kita tidur, tubuh akan melepaskan sitokin. Jika kita kurang
          tidur, maka produksi sitokin ini juga akan berkurang. <br>
          Kurang tidur juga menyebabkan menurunnya kemampuan sistem kekebalan tubuh dan kinerja sel dalam memerangi
          infeksi. Hal ini tentu saja dapat berdampak buruk pada ketangguhan sistem kekebalan tubuh dalam melawan infeksi,
          dan kecepatan proses kesembuhan secara alami.
        </p><br><br>
        <p>
          3. Menurunnya performa seks <br><br>
          Para pria dan wanita yang kurang tidur, dilaporkan mengalami penurunan hasrat untuk melakukan hubungan seksual
          dan memiliki tingkat kepuasan seksual yang lebih rendah. Hasrat dan ketertarikan mereka berkurang akibat
          kelelahan, rasa kantuk, dan meningkatnya stres karena kurang tidur. <br>
          Bagi pria yang menderita sleep apnea, di mana terdapat masalah pernapasan yang mengganggu tidur, kemungkinan ada
          faktor lain yang berdampak kepada kurangnya minat seksual, yaitu kadar hormon testosteron. Setidaknya, separuh
          pria penderita sleep apnea dilaporkan memiliki kadar testosteron yang rendah.
        </p><br><br>
        <p>
          4. Menurunkan daya ingat <br><br>
          Tidur adalah saatnya memasukkan hal-hal yang telah dipelajari dan dialami sepanjang hari ke dalam sistem ingatan
          jangka pendek. Pada saat tidur, koneksi saraf yang mendukung ingatan seseorang mengalami penguatan. Jika waktu
          tidur terganggu, otomatis kemampuan otak dalam mengolah dan menyimpan ingatan pun akan mengalami gangguan.
          Penelitian juga menunjukkan bahwa kurang tidur dalam jangka panjang dapat mengakibatkan penurunan kemampuan otak
          untuk berpikir dan mengolah informasi. <br>
          Kurang tidur akan mengakibatkan seseorang mengantuk, yang merupakan salah satu penyebab orang mudah lupa.
          Mengantuk juga menyebabkan hilangnya kemampuan berkonsentrasi. Jika hal ini terus berlanjut, maka jangan kaget
          jika ingatan Anda melemah.
        </p><br><br>
        <p>
          5. Mempercepat penuaan dini <br><br>
          Apa yang akan Anda lihat pada wajah orang-orang yang kurang tidur? Kulit pucat dan mata bengkak, bukan? Jika
          kurang tidur terjadi terus-menerus, maka kulit akan menjadi kusam, timbul kerutan halus, dan terdapat lingkaran
          hitam di bawah mata. Hal ini terjadi akibat meningkatnya produksi hormon kortisol pada orang yang kurang tidur.
          <br>
          Hormon kortisol yang berlebihan dapat menghancurkan kolagen, yang berfungsi menghaluskan dan menjaga elastisitas
          kulit. Kurang tidur juga menyebabkan berkurangnya produksi hormon pertumbuhan, yang berperan dalam meningkatkan
          massa otot, menebalkan kulit, dan memperkuat tulang.
        </p>
  
      </ion-card-content>
  
    </ion-card>
  </ion-content>
