<ion-header>
  <ion-navbar>
    <ion-title class='new-background'>
      Profile <ion-icon name="ios-exit-outline" item-right (click)='gotoLogin()'></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">


  <ion-card>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5P29h1q2MSjwiYpDyTwTVMxrYhGVmkDBk4gl0zqGfirqbTP0h" />
    <div class="card-title" *ngIf="auth.getEmail()">{{ auth.getEmail() }}</div>
  </ion-card>
  <ion-card>
    
    <ion-item>
      <ion-icon name='md-calendar' item-start style="color: #5f0a0a"></ion-icon>
      Age
      <ion-badge item-end>20</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='ios-speedometer' item-start style="color: #5f0a0a"></ion-icon>
      Weight
      <ion-badge item-end>56</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='ios-man-outline' item-start style="color: #5f0a0a"></ion-icon>
      Hight
      <ion-badge item-end>167</ion-badge>
    </ion-item>
    <ion-item (click)="logout()" *ngIf="auth.authenticated">
      <ion-icon name="log-out" item-start></ion-icon>
      Log Out
    </ion-item>
  </ion-card>

</ion-content>