<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Help</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <button ion-button round>Keterangan Aplikasi</button>
    <ion-card>
      <h2>ini adalah halaman panduan bagi pengguna yang membutuhkan informasi mengenai aplikasi ini</h2>
    </ion-card>
    <button ion-button round (click)='gotomedicine()'>Medichine</button>
    <ion-card>
      <h2>fitur ini berfungsi untuk menginformasi kan berbagai jenis obat</h2>
    </ion-card>
    <button ion-button round (click)='gotohospital()'>hospital</button>
    <ion-card>
      <h2>fitur ini berfungsi untuk menginformasi kan keberadan rumah sakit yang ada di kota tanjung pinang</h2>
    </ion-card>
    <button ion-button round (click)='gotomedical()'>talk with doctors</button>
    <ion-card>
      <h2>fitur ini berfungsi untuk menginformasi kan bagaimana pengguna dapat berinteraksi kepada dokter melalui aplikasi
      </h2>
    </ion-card>
    <button ion-button round (click)='gotoschedule()'>schedule list</button>
    <ion-card>
      <h2>fitur ini berfungsi untuk membantu pengguna dalam membuat jadwal</h2>
    </ion-card>
    <button ion-button round (click)='gotohelp()'>help</button>
    <ion-card>
      <h2>fitur ini berfungsi untuk menginformasi kan user mengenai aplikasi MyMedical</h2>
    </ion-card>
  </ion-content>