<!--
  Generated template for the AsamuratPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <img src="https://www.honestdocs.id/system/blog_articles/main_hero_images/000/001/108/large/9_Obat_Asam_Urat_Alami_Tradisional.jpg" />
      <ion-card-content >
        <ion-card-title>
          <b>5 Obat Alami yang Ampuh Atasi Asam Urat, dari Jahe hingga Bunga Sepatu</b>
        </ion-card-title>
        <p align="justify"> 
          Beberapa orang yang menderita asam urat mungkin bingung terkait makanan yang perlu dikonsumsi untuk meredakan
          asam urat. Sebenarnya, ada banyak buah dan bumbu dapur yang bisa dijadikan obat tradisional mengatasi asam urat.
          <br>
  
          Perlu diketahui, asam urat adalah bentuk radang sendi yang menyebabkan rasa sakit dan tidak nyaman di area jari
          kaki, pergelangan kaki dan lutut. <br>
          Asam urat terjadi ketika tubuh memproduksi terlalu banyak asam yang memecah purin dalam makanan. <br>
  
          Biasanya orang dengan asam urat harus menghindari beberapa makanan agar penyakit ini tak kambuh. Tetapi, cara
          ini tak sepenuhnya efektif menghilangkan asam urat jika tanpa tindakan apapun. <br>
  
          Karena itu, ubah pola hidup sambil mengonsumsi beberapa makanan yang berfungsi sebagai obat alami asam urat.
          HiMedik melansir dari healthline.com, berikut ini makanan yang dipercaya mampu atasi asam urat:
        </p><br><br>
  
        <p>
          1. Jahe
        </p><br><br>
        <p>
  
          Jahe salah satu bumbu dapur yang dipercaya mampu mengurangi rasa sakit akibat asam urat. Studi lain juga
          menunjukkan jahe mampu mengurangi kadar asam urat dalam tubuh. <br>
  
          Caranya pun sangat mudah. Kita cukup memakai 1 sendok jahe parut yang direbus menggunakan air secukupnya sampai
          mendidih.
          Setelah mendidih, rendam waslap dalam air rebusan jahe tersebut dan tempelkan di daerah yang sakit selama 15-30
          menit setidaknya sehari sekali. <br>
  
          Selain cara itu, kita juga bisa meminum rebusan jahe sebanyak 3 gelas per hari agar pengobatan asam urat lebih
          maksimal.
        </p><br><br>
        <p>
          2. Apel
        </p><br><br>
        <p>
  
          Sebuah situs kesehatan telah menyatakan apel yang biasa dikonsumsi sebagai menu diet wanita juga bermanfaat
          untuk mengobati asam urat. <br>
  
          Memang belum ada penelitian yang mendukung bahwa apel bisa menyembuhkan asam urat. Tetapi, makan satu apel
          setiap harinya sangat baik untuk kesehatan dan mungkin saja bermanfaat mengatasi asam urat.
        </p><br><br>
  
        <p>
          3. Pisang
        </p><br><br>
        <p>
          Pisang yang kaya kalium cukup baik untuk mengatasi masalah asam urat sekaligus membantu jaringan serta organ
          tubuh berfungsi dengan baik. <br>
  
          Meski belum ada penelitian yang membuktikan pisang mampu mengobati asam urat. Konsumsi satu pisang setiap
          harinya cukup baik untuk kesehatan tubuh.
        </p><br><br>
        <p>
          4. Seledri
        </p><br><br>
        <p>
  
          Seledri salah satu sayuran rumahan yang ampuh mengobati masalah kandung kemih hingga asam urat. Itu terutama
          ekstrak biji seledri yang sudah populer sebagai obat tradisional asam urat. <br>
  
          Beberapa penelitian ilmiah mengatakan seledri mampu mengurangi peradangan sendi jika dikonsumsi secara rutin
          setiap harinya. Baik dalam bentuk jus, ekstrak atau mengunyahnya saat masih mentah.
        </p><br><br>
  
        <p>
          5. Bunga sepatu
        </p><br><br>
        <p>
  
          Tak banyak yang tahu, bunga sepatu yang sering dijadikan tanaman hias ini bisa berfungsi sebagai obat
          tradisional. <br>
  
          Sebuah studi pun telah membuktikannya bahwa bunga sepatu bisa menjadi obat alami untuk menurunkan kadar asam
          urat. Namun, penelitian tersebut dilakukan pada seekor tikus.
        </p>
  
      </ion-card-content>
  
    </ion-card>
  </ion-content>
