<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-slides pager>

    <ion-slide>
      <img src="assets/imgs/logo.jfif" alt="Mymadical project logo" width="128dp" />
      <h2>Welcom To MyMedical</h2>
      <p>Pipl Project</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/hospital.png" alt="Mymadical project hospital" width="128dp" />
      <h2>
        find out the closest hospital</h2>
    </ion-slide>


    <ion-slide>
      <img src="assets/imgs/doctor.jfif" alt="Mymadical project doctor" width="128dp" />
      <h2>
        talk to the doctor</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/medicine.png" alt="Mymadical project doctor" width="128dp" />
      <h2>
        all about medicine</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/time.jpg" alt="Mymadical project doctor" width="128dp" />
      <h2>
        make a medication schedule</h2>

    </ion-slide>


  </ion-slides>
  <button ion-button full round color="warning" (click)="navigateToLogin()">Start</button>

</ion-content>