<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="ducklings">
          Schedule List
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    
    <ion-content>
        <!-- Real floating action button, fixed. It will not scroll with the content -->
        <ion-fab right bottom>
          <button ion-fab mini><ion-icon name="add"></ion-icon></button>
        </ion-fab>
      
      </ion-content>

</ion-content>
