<!--
  Generated template for the DetailArtikel2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <img src="https://hellosehat.com/wp-content/uploads/2017/09/Berbagai-Manfaat-Mengejutkan-Makan-Bawang-Putih.jpg?x92501" />
      <ion-card-content >
        <ion-card-title>
         <b> Manfaat Mengejutkan Makan Bawang Putih Mentah</b>
        </ion-card-title>
        <br><br>
        <p align="justify">
          Bawang putih adalah umbi-umbian dengan nama latin Allium sativum. Bawang berwarna putih ini masih termasuk dalam
          keluarga tanaman amarilis (Amaryllidaceae), dan bersaudara dengan daun bawang dan bawang merah. Berambang putih
          adalah umbi siung asli budidaya Asia Tengah, tapi juga tumbuh liat di Italia dan daerah selatan Perancis.
          <br><br>
  
          Dalam satu buah bawang putih biasanya terdapat 1-10 siung. Setiap siungnya itu sendiri memiliki berat sekitar
          6-8 gram. Maka, per 100 gram berambang putih kira-kira mengandung: <br>
          -4 kalori <br>
          -1 gram karbohidrat <br>
          -0,2 gram protein <br>
          -0,1 gram serat <br>
          -0,1 miligram mangan (setara dengan 3% kebutuhan harian tubuh) <br>
          -0,9 miligram vitamin C (setara dengan 2% kebutuhan harian tubuh) <br>
          -5,4 miligram kalsium (setara dengan 1% kebutuhan harian tubuh) <br>
          -0,4 mikrogram selenium (setara 1 persen% kebutuhan harian tubuh) <br>
          -sederet antioksidan seperti flavonoid, oligosakarida, dan asam amino. <br>
        </p>
        <p>
         <b> Manfaat bawang putih untuk kesehatan </b>
        </p>
        <p>
        <b>  1. Menurunkan kolesterol <br></b>
  
          Bawang putih telah lama dianggap sebagai salah satu makanan terbaik untuk mencegah kolesterol tinggi. Sebuah
          penelitian terdahulu yang dimuat dalam Journal of Postgraduate Medicine melaporkan makan sekitar 10 gram bawang
          putih mentah (1-2 siung kecil) setiap hari berhasil menurunkan kolesterol cukup drastis dalam dua bulan. <br><br>
  
          Temuan tersebut juga diperkuat oleh beragam studi yang lebih terkini. Salah satunya adalah studi yang dimuat
          dalam International Journal of Medical Science and Public Health tahun 2016. Tim peneliti dari India awalnya
          meminta 50 orang yang punya kolesterol tinggi untuk rutin makan 3 gram bawang putih mentah satu kali setiap
          hari. Setelah 90 hari masa percobaan, seluruh partisipan tersebut mengalami penurunan kolesterol yang cukup
          banyak, yaitu sekitar 10-13 persen. <br><br>
  
          Peneliti menemukan manfaat ini berasal dari kandungan allicin dalam bawang putih. Uniknya, allicin hanya akan
          diproduksi oleh bawang putih ketika siungnya dipotong, ditumbuk (uleg), atau dihancurkan dengan cara dikunyah.
          Allicin menghambat enzim yang berperan dalam pembuatan kolesterol. <br><br>
        </p>
        <p>
        <b>  2. Mengendalikan tekanan darah <br></b>
  
          Jika Anda termasuk orang yang berisiko atau sudah terdiagnosis hipertensi, menjaga pola makan adalah salah satu
          kunci agar tetap sehat. Nah dari sekian banyak makanan sehat yang ada, bawang putih bisa jadi andalan Anda. <br>
  
          Ya! Potensi manfaat bawang putih untuk menurunkan tekanan darah telah lama dikenal sebanding dengan obat
          hipertensi generik. Sebuah penelitian dari Pakistan Journal of Pharmaceutical Sciences melaporkan bahwa efek
          penurunan tekanan darah sistolik dan diastolik sehabis makan bawang putih mentah hampir sama dengan obat
          atenolol. <br><br>
  
          Lagi-lagi, manfaat ini berasal dari kandungan allicin yang hanya bisa didapat ketika siung bawang putih mentah
          dikunyah, diuleg, atau dipotong. Cara ini membuat allicin lebih mudah diserap dan digunakan oleh tubuh. <br><br>
  
          Selain itu, bawang putih juga mengandung polisulfida yang bekerja memperlebar pembuluh darah sehingga menurunkan
          tekanan darah. <br><br>
        </p>
  
        <p>
        <b>  3. Menyehatkan jantung <br></b>
          Kabar baiknya, bawang putih juga berpotensi baik untuk mencegah risiko penyakit jantung. Bawang putih telah
          dikenal sebagai pengobatan tambahan dalam menurunkan kolesterol dan tekanan darah, yang pada akhirnya mengurangi
          risiko aterosklerosis. <br><br>
  
          Uniknya, manfaat yang paling konsisten ditunjukkan oleh ekstrak dari bawang putih yang dikeringkan (aged
          garlic). Merangkum sejumlah penelitian, ekstrak aged garlic mengurangi penumpukan plak lunak dan mencegah
          pembentukan plak baru di arteri. <br><br>
  
          Penelitian dari Journal of Nutrition yang menggunakan aged garlic juga menunjukkan efek penurunan kadar kalsium
          serta protein C-reaktif dalam arteri koroner. Endapan kalsium dalam arteri koroner adalah tanda adanya
          penumpukan plak yang dapat mempersempit atau menyumbat arteri. Sementara protein C-reaktif adalah protein khusus
          yang memicu peradangan. <br><br>
  
          Dua kondisi di ataslah yang kemudian memicu aterosklerosis. Ketika aterosklerosis terjadi, Anda akan lebih
          rentan terhadap serangan jantung atau stroke. <br><br>
        </p>
        <p>
        <b>  4. Menurunkan risiko kanker <br></b>
  
          Manfaat menguntungkan dari bawang putih telah dikenal selama berabad-abad. <br><br>
  
          Melansir dari National Cancer Research Institute, bukti penelitian sejauh ini menunjukkan kaitan antara konsumsi
          bawang putih rutin dengan penurunan risiko beberapa jenis kanker. Termasuk kanker perut (lambung, usus besar,
          dan usus kecil), kanker kerongkongan, kanker pankreas, kanker payudara, dan kanker prostat. <br><br>
  
          Bawang putih mentah kaya akan kandungan sulfur aktif yang mencegah pembentukan sel kanker dan menghambat
          penyebarannya dalam tubuh. <br><br>
        </p>
  
        <p>
        <b>  5. Menjaga kesehatan otak <br></b>
          Ternyata makan bawang putih tidak cuma bermanfaat untuk kesehatan jantung, tapi juga otak. <br><br>
  
          Sebuah tim peneliti dari Universitas Missouri menemukan bahwa turunan karbohidrat dalam bawang putih yang
          dikenal sebagai FruArg melindungi sel-sel otak terhadap efek penuaan dan penyakit. FruArg dilaporkan mengurangi
          kadar oksida nitrat yang diproduksi oleh sel mikroglia di dalam otak selama melawan peradangan dan stres
          oksidatif. <br><br>
  
          Di satu sisi, peran sel mikroglia sangat bermanfaat untuk menjaga kesehatan sistem saraf. Namun, semakin lama
          sel mikroglia melawan peradangan akan semakin banyak memproduksi oksida nitrat. Kadar oksida nitrat yang
          berlebihan telah lama dikaitkan sebagai penyebab kerusakan sel otak. <br><br>
  
          Nah untungnya, FruArg dalam bawang putih bisa memperbanyak sel mikroglia tanpa memicu peningkatan kadar oksida
          nitrat dalam otak. Ini artinya bawang putih menawarkan manfaat perlindungan bagi sel-sel otak dengan membuatnya
          lebih kebal terhadap risiko penyakit neurologis, seperti demensia dan Alzheimer. <br><br>
        </p>
  
      </ion-card-content>
  
    </ion-card>
  </ion-content>