<ion-header>
  <ion-toolbar text-center>
    <ion-title class="center">signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" text-center>
  <div class="center">
    <img src="assets/imgs/logo.jfif" alt="Mymadical project logo" width="128dp" />
    <h1>Creat Account</h1>
  </div>
  <form (ngSubmit)="signup()" [formGroup]="form">
    <ion-list>
      <ion-label position="stacked">Email</ion-label>
      <ion-item [ngClass]="{invalid: emailErrors.hasError('*', ['touched'])}">
        <ion-input autocomplete="off" type="text" formControlName="email"></ion-input>
      </ion-item>


      <div ngxErrors="email" #emailErrors="ngxErrors">
        <div [ngxError]="['email', 'required']" [when]="['touched']">Email tidak valid</div>
      </div>
      <!--

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input autocomplete="off" type="text"></ion-input>
      </ion-item>
      -->
      <ion-label position="stacked">Password</ion-label>
      <ion-item [ngClass]="{invalid: passwordErrors.hasError('*', ['touched'])}">
        <ion-input autocomplete="off" type="password" formControlName="password"></ion-input>
      </ion-item>

      <div ngxErrors="password" #passwordErrors="ngxErrors">
        <div [ngxError]="['minlength', 'required']" [when]="['touched']">Password terlalu pendek</div>
      </div>

      <ion-item lines='none'>
        Already have an account? <a (click)="goToSigninPage()">Sign in.</a>
      </ion-item>
    </ion-list>
    <button ion-button expand="block" share="round" color="success" type="submit"
      [disabled]="!form.valid">Registration</button>
  </form>
</ion-content>